<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'words_style.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TEST </title>
</head>
<body>
<div id="container">
  <div id="en"><h1>English</h1>
        {% for word in english_words %}
            <div id="wrd"><strong><p> {{ word.word_text }} </p></strong></div>
            <p> {{ word.part_of_speech1 }}</p>
            <strong>Meaning:</strong><p> {{ word.meaning1}}</p>
            <strong>Example:</strong> <p> {{ word.sentence1 }}</p>
            <strong>Comments:</strong>
            {% for comment in comments %}
                {% if comment.word_id == word  %}
            <div id="cmnt">

                    <p> {{ comment.body }} </p>
                    posted by: {{ comment.posted_by }} on {{ comment.created }}
            </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
        <input id="comment_box_en" type="test" value="{{word}}"/>
            <input type="submit" value="Comment"/>
    </form>
  </div>
  <div id="jp"><h1>Japanese</h1>
        {% for word in japanese_words %}
            <div id="wrd"><strong> <p> {{ word.word_text }}</p> </strong></div>
            <p> {{ word.part_of_speech1 }}</p>
            <strong>Meaning:</strong><p> {{ word.meaning1}}</p>
            <strong>Example:</strong> <p> {{ word.sentence1 }}</p>
            <strong>Comments:</strong>
            {% for comment in comments %}
                {% if comment.word_id == word  %}
            <div id="cmnt">

                    <p> {{ comment.body }} </p>
                    posted by: {{ comment.posted_by }} on {{ comment.created }}
            </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

    <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <input id="comment_box_jp" type="test" value="{{word}}"/>
            <input type="submit" value="Comment"/>
    </form>
  </div>
</div>
</body>
</html>