<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'words_style.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TEST </title>
</head>
<body>
<div id="container">
  <div id="en"><h1>English</h1>
        {% for word in english_words %}
            <p> {{ word.word_text }}</p>
            <p> {{ word.part_of_speech1 }}</p>
            <p> {{ word.meaning1}}</p>
            <p> {{ word.sentence1 }}</p>
            {% for comment in comments %}
                {% if comment.word_id == word  %}
                    <p> {{ comment.body }} </p>
                    <p> {{ comment.posted_by }} </p>
                {% endif %}
            {% endfor %}

        {% endfor %}
    <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
        <input id="comment_box_en" type="test" value="{{word}}"/>
            <input type="submit" value="Comment"/>
    </form>
  </div>
  <div id="jp"><h1>Japanese</h1>
        {% for word in japanese_words %}
            <p> {{ word.word_text }}</p>
            <p> {{ word.part_of_speech1 }}</p>
            <p> {{ word.meaning1}}</p>
            <p> {{ word.sentence1 }}</p>
            {% for comment in comments %}
                {% if comment.word_id == word  %}
                    <p> {{ comment.body }} </p>
                    <p> {{ comment.posted_by }} </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <input id="comment_box_jp" type="test" value="{{word}}"/>
            <input type="submit" value="Comment"/>
    </form>
  </div>
</div>
</body>
</html>